:root {

    --hero-bg: linear-gradient(-45deg, #3862b2, #1a50ac, #0d47a1, #42a5f5);
    --primary-color: #00a8ff;
    --secondary-color: #2ecc71;
    --dark-color: #1e272e;
    --light-color: #f5f6fa;
    --danger-color: #e74c3c;
    --success-color: #2ecc71;
    --discord-color: #7289da;
    --minecraft-color: #52a535;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--light-color);
    background-color: var(--dark-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #3adeed, #2563eb);
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    border: 2px solid rgba(115, 11, 207, 0.462);
}

::-webkit-scrollbar-track{
    background: linear-gradient(to bottom, rgb(25, 40, 52), #030f2a);
}

.loader-active ::-webkit-scrollbar {
    width: 0;
    display: none;
}

.loader-active {
    overflow: hidden;
}

.sonic-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--dark-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    backdrop-filter: blur(2px);
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.sonic-animation {
    width: 400px;
    height: 200px;
    background-image: url("../assets/Loading-screen-texture/sonic_boom_0.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: pixelated; /* Added pixel-perfect rendering */
    animation: sonic-boom 2.25s steps(1) infinite;
}


@keyframes sonic-boom {
    0% { background-image: url("../assets/Loading-screen-texture/sonic_boom_0.png"); }
    6.25% { background-image: url("../assets/Loading-screen-texture/sonic_boom_1.png"); }
    12.5% { background-image: url("../assets/Loading-screen-texture/sonic_boom_2.png"); }
    18.75% { background-image: url("../assets/Loading-screen-texture/sonic_boom_3.png"); }
    25% { background-image: url("../assets/Loading-screen-texture/sonic_boom_4.png"); }
    31.25% { background-image: url("../assets/Loading-screen-texture/sonic_boom_5.png"); }
    37.5% { background-image: url("../assets/Loading-screen-texture/sonic_boom_6.png"); }
    43.75% { background-image: url("../assets/Loading-screen-texture/sonic_boom_7.png"); }
    50% { background-image: url("../assets/Loading-screen-texture/sonic_boom_8.png"); }
    56.25% { background-image: url("../assets/Loading-screen-texture/sonic_boom_9.png"); }
    62.5% { background-image: url("../assets/Loading-screen-texture/sonic_boom_10.png"); }
    68.75% { background-image: url("../assets/Loading-screen-texture/sonic_boom_11.png"); }
    75% { background-image: url("../assets/Loading-screen-texture/sonic_boom_12.png"); }
    81.25% { background-image: url("../assets/Loading-screen-texture/sonic_boom_13.png"); }
    87.5% { background-image: url("../assets/Loading-screen-texture/sonic_boom_14.png"); }
    93.75% { background-image: url("../assets/Loading-screen-texture/sonic_boom_15.png"); }
    100% { background-image: url("../assets/Loading-screen-texture/sonic_boom_0.png"); }
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

html{
    scroll-behavior: smooth;
}

.reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.reveal.visible {
    opacity: 1;
    transform: translateY(0);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--dark-color);
    color: var(--light-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    overflow-x: hidden;
}

.container {
    max-width: 800px;
    margin: 20px auto;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    transition: all 0.3s ease;
}

ul {
    list-style: none;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}

.primary {
    background-color: var(--primary-color);
    color: white;
}

.primary:hover {
    background-color: #0097e6;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 168, 255, 0.3);
}

.secondary {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.secondary:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateY(-3px);
}

.discord-btn {
    background-color: var(--discord-color);
    color: white;
}

.discord-btn:hover {
    background-color: #5f73bc;
    color: white;
}

.vote-btn {
    background-color: var(--success-color);
    color: white;
}

.vote-btn:hover {
    background-color: #27ae60;
    color: white;
}

/* Navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(18, 46, 67, 0.8);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
    border-bottom-right-radius: 50% 5%;
    border-bottom-left-radius: 50% 5%;
}

.navbar.scrolled {
    padding: 0.75rem 2rem;
    background-color: rgba(25, 40, 52, 0.9);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.logo span {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
}

.nav-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.nav-links a {
    color: white;
    font-weight: 600;
    position: relative;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: var(--primary-color);
}

/* Mobile Menu */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
}


/* Hero Section */
.hero {
    height: 75vh;
    background: var(--hero-bg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 80px;
    animation: gradient 15s ease infinite;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 85%;
    top: 0;
    left: 0;
    z-index: 2;
  }

.hero-content {
    max-width: 800px;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.hero h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #aaa;
    letter-spacing: 2px;
    width: 100%;
    text-align: center;
}

.server-name {
    font-size: 4rem;
    font-weight: 800;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
    text-shadow: 0 0 10px rgba(0, 168, 255, 0.5);
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
}

.server-name::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 3px;
    background-color: var(--primary-color);
    opacity: 0.5;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: #ddd;
    width: 100%;
    text-align: center;
}

.join-text {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 3rem;
    width: 100%;
    position: relative;
    z-index: 100;
}


/* Vote section */
.vote {
    padding: 0px 50px;
    text-align: center;
    background: var(--dark-color);
    color: white;
}

.vote h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 168, 255, 0.5);
}

.vote-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    flex-wrap: wrap;
    list-style: none
}

.vote-link {
    text-decoration: none;
    color: inherit;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 220px;
    height: 180px;
    border: 2px solid transparent;
    text-align: center;
    background: rgba(0, 0, 0, 0.3); /* Visible box */
    transition: 0.3s ease-in-out;
    border-radius: 8px; /* Slight rounding */
}

/* Hover effect */
.link:hover {
    border-color: #6a00ff; /* Purple border */
    transform: scale(1.05);
}

/* Title inside buttons */
.link h3 {
    font-size: 18px;
    font-weight: bold;
    color: cyan;
}

/* Description inside buttons */
.link p {
    font-size: 14px;
    color: lightgray;
}


/* Vote icon animation */
.icon img {
    width: 50px; /* Smaller icon */
    height: 50px;
    image-rendering: pixelated;
    transition: all 0.3s ease-in-out;
}

/* Pixel-effect on hover */
.link:hover img {
    animation: gust-cycle 1.2s infinite ease-out;
}

/* Keyframe animation for icon change */
@keyframes gust-cycle {
    0% { content: url("../assets/Vote-link-Imgs/gust_0.png"); }
    8.33% { content: url("../assets/Vote-link-Imgs/gust_1.png"); }
    16.66% { content: url("../assets/Vote-link-Imgs/gust_2.png"); }
    25% { content: url("../assets/Vote-link-Imgs/gust_3.png"); }
    33.33% { content: url("../assets/Vote-link-Imgs/gust_4.png"); }
    41.66% { content: url("../assets/Vote-link-Imgs/gust_5.png"); }
    50% { content: url("../assets/Vote-link-Imgs/gust_6.png"); }
    58.33% { content: url("../assets/Vote-link-Imgs/gust_7.png"); }
    66.66% { content: url("../assets/Vote-link-Imgs/gust_8.png"); }
    75% { content: url("../assets/Vote-link-Imgs/gust_9.png"); }
    83.33% { content: url("../assets/Vote-link-Imgs/gust_10.png"); }
    91.66% { content: url("../assets/Vote-link-Imgs/gust_11.png"); }
    100% { content: url("../assets/Vote-link-Imgs/gust_0.png"); }
}




/* Footer */
.footer {
    background-color: #0c0c0c;
    padding: 4rem 0 2rem;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 3rem;
    margin-bottom: 3rem;
}

.footer-logo {
    text-align: center;
}

.footer-logo img {
    width: 60px;
    height: 60px;
    margin-bottom: 1rem;
}

.footer-logo h3 {
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}

.footer-logo p {
    color: #aaa;
}

.footer-links h3 {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: white;
    position: relative;
    padding-bottom: 0.5rem;
}

.footer-links h3::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 72px;
    width: 50px;
    height: 2px;
    background-color: var(--primary-color);
}

.footer-links ul li {
    margin-bottom: 0.8rem;
}

.footer-links ul li a {
    
    color: #aaa;
    transition: all 0.3s ease;
}

.footer-links ul li a:hover {
    color: var(--primary-color);
    padding-left: 5px;
}

.footer-contact h3 {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: white;
    position: relative;
    padding-bottom: 0.5rem;
}

.footer-contact h3::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 72px;
    width: 50px;
    height: 2px;
    background-color: var(--primary-color);
}

.footer-contact p {
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.footer-contact i {
    margin-right: 0.5rem;
    color: var(--primary-color);
}

.social-icons {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
    justify-content: center;
}

.fab {
    position: relative;
    left: 5px;
}

.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #242424;
    border-radius: 50%;
    color: white;
    transition: all 0.3s ease;
}

.fa-twitter:hover {
    text-shadow: 0 0 6px white;
    color: #dcf2ff;
}

.fa-instagram:hover {
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #d6249f;
}

.fa-youtube:hover {
    text-shadow: 0 0 6px #813a3a;
    color: #cc0000;
}

.fa-tiktok:hover {
    text-shadow: 
        -2px -2px 6px #69C9D0, 
        2px 2px 6px #EE1D52;
}

.social-icons a:hover {
    transform: translateY(-5px);
}

.footer-bottom {
    text-align: center;
    padding-top: 2rem;
    border-top: 1px solid #242424;
}

.footer-bottom p {
    color: #666;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}



/* Responsive Design */

@media (max-width: 1024px) {
    .hero {
        height: 80vh;
        padding-top: 60px;
    }
    
    .server-name {
        font-size: 3rem;
    }

    .hero p {
        font-size: 1rem;
    }
}


@media screen and (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 60px;
        right: 0;
        background: rgba(18, 46, 67, 0.9);
        width: 100%;
        max-height: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: max-height 0.4s ease-in-out;
    }

    .nav-links.active {
        max-height: 300px;
        padding: 1rem 0;
    }

    .nav-links li {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    .nav-links a {
        display: block;
        width: 100%;
        padding: 10px 0;
    }

    .bar.active:nth-child(1) {
        transform: rotate(45deg) translateY(20px);
    }

    .bar.active:nth-child(2) {
        opacity: 0;
    }

    .bar.active:nth-child(3) {
        transform: rotate(-45deg) translateY(-20px);
    }

    .hero-content {
        padding: 0 1rem;
    }

    .server-name {
        font-size: 3rem;
    }

    .server-stats {
        flex-direction: column;
        gap: 1rem;
    }

    .hero p {
        font-size: 1rem;
        padding: 0 1rem;
    }

    .hero-buttons {
        flex-direction: column; /* Stack buttons on mobile */
        gap: 0.8rem;
    }
}

@media (max-width: 480px) {
    .hero {
        height: 90vh;
    }

    .server-name {
        font-size: 2rem;
    }

    .hero p {
        font-size: 0.9rem;
    }
    .footer-content {
        grid-template-columns: 1fr; /* 1 column for smaller mobile devices */
        gap: 1rem;
    }

    .footer-logo img {
        width: 40px;
        height: 40px;
    }

    .footer-logo h3 {
        font-size: 1.2rem;
    }

    .footer-links h3, .footer-contact h3 {
        font-size: 1rem;
    }

    .footer-links ul li a, .footer-contact p {
        font-size: 0.8rem;
    }

    .social-icons {
        justify-content: center;
        gap: 0.8rem;
    }

    .social-icons a {
        width: 30px;
        height: 30px;
    }

    .footer-bottom p {
        font-size: 0.8rem;
    }
}